@font-face{
    font-family: odin;
    src: url("static/norse-bold-webfont.woff2") format("woff2");
    unicode-range:U+0025-00FF;
}
body{

    height: 100vh;
    display: flex;
    flex-grow: 1;
    padding: 0 0;
    margin: 0 0;
}

*{
    padding: 0 0;
    margin:  0 0;
    box-sizing:border-box ;

}

.main{
    flex-grow: 3;
}

.side{
    background: url("static/halie-west-25xggax4bSA-unsplash.jpg") center / cover no-repeat;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    opacity: 1;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.source{
    color: gray;
    align-self: center;
    position: relative;
    
    margin-top: auto;
    padding-bottom: 20px;
}


.shadow{
    height: auto;
    position: relative;
    display: flex;
    background-color: rgb(0,0,0, 0.3);
    margin-top: 40%;
    padding: 30px 0px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.shadow .head{
    color: white;
    font-family: odin; 
    font-size: 6rem;
    text-wrap: wrap;
    overflow: hidden;
    flex-shrink: 1;
}
.shadow img{
    height:9rem;
    width: 7rem;
}
.source a{
    /* text-decoration: none; */
    color: white;
}
/* ----------  starting with main ------------- */

.main{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    background-color: #E5E7EB;
}
main *{
    border: 1px solid black;
}
.heading{
    font-size: 2rem;
    padding: 40px;
    margin-top: 40px;
    padding-right: 200px;
    padding-bottom: 10px;
}
.head-main{
    margin-top: 50px;
}
.form{
    height: auto;
}
.field{
    height: 100%;
    border: none;
    gap: 20px;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-top: 20px;
}
.wrap{
    margin-right: 70px;
}
.form input{
    height: 30px; 
    border-radius: 0.5rem;
    border: none;
    border: 2px solid #E5E7EB;
    width: 250px;
    padding: 5px;
}
label{
    display: block;
    font-size: 1.39rem;
}
legend{
  float: left;
    width: 100%;
    margin: 0px 0px;

  padding: 0;
  }

.foot{
    display: flex;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
}

.button{
    width: 20%;
    color: white;
    border: none;
    padding: 0px 0px;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding-inline: 0px;
    padding-block: 0px;
    background-color: #596D48;
    
}
.button:hover{
    background-color: rgb(110, 125, 90);
    cursor: pointer;
}
.button:active{
    background-color: rgb(100, 99, 70);
}
input:invalid{
    border: 2px solid red;
}



















