@font-face{
    font-family: odin;
    src: url("static/norse-bold-webfont.woff2") format("woff2");
    unicode-range:U+0025-00FF;
}
body{

    height: 100vh;
    display: flex;
    flex-grow: 1;
    padding: 0 0;
    margin: 0 0;
}

*{
    padding: 0 0;
    margin:  0 0;
    box-sizing:border-box ;

}

.main{
    flex-grow: 3;
}

.side{
    background: url("static/halie-west-25xggax4bSA-unsplash.jpg") center / cover no-repeat;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    opacity: 1;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.source{
    color: gray;
    align-self: center;
    position: relative;
    
    margin-top: auto;
    padding-bottom: 20px;
}


.shadow{
    height: auto;
    position: relative;
    display: flex;
    background-color: rgb(0,0,0, 0.3);
    margin-top: 40%;
    padding: 30px 0px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.shadow .head{
    color: white;
    font-family: odin; 
    font-size: 6rem;
    text-wrap: wrap;
    overflow: hidden;
    flex-shrink: 1;
}
.shadow img{
    height:9rem;
    width: 7rem;
}
.source a{
    /* text-decoration: none; */
    color: white;
}
